{% extends 'homepage.html' %}

{% block content %}
<header>
        <center>
        <div class="inicio" id="inicio">
             <img class="responsive-img" src="{% static 'image/logo.png' %}" alt="LogoMisPerris" width = "80%">
        </div>
        </center>
        </header>
        
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="{% url 'homepage' %}">Inicio</a></li>
        <li><a href="#quienessomos">Quienes somos</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contactanos">Contáctanos</a></li>
        <li><a href="FormPerris.html">Formulario adopción</a></li>
        <li><a href="{% url 'cuentas:signup' %}">Registrarse</a></li>
        <li><a href="{% url 'cuentas:login' %}">Ingresar</a></li>
      </ul>
    </div>
  </nav>
  
      <ul class="sidenav" id="mobile-demo" >
        <li><a href="inicio.html">Inicio</a></li>
        <li><a href="quienessomos.html">Quienes somos</a></li>
        <li><a href="servicios.html">Servicios</a></li>
        <li><a href="contactanos.html">Contáctanos</a></li>
        <li><a href="FormPerris.html">Formulario adopción</a></li>
      </ul>
{% endblock %}